<html>
<meta charset="UTF-8"/>
<head th:replace="~{base :: head}"></head>
	<body>
		<div th:replace="~{base :: logo}"></div>
		<div class="container">
		
			<div th:replace="~{base :: titulo('Novo Pedido')}"></div>
			
			<div class="card mt-3">
				<form method="post">
					<div th:replace="~{base :: titulo('Produtos')}"></div>
					<div class="form-group">
						<label for="nomeProduto">Nome do Produto</label>
						<input th:field="*{nomeProduto}" th:errorclass="is-invalid"  class="form-control" placeholder="nome do produto"/>
						<small></small>
					</div>
					<div class="form-group">
						<label for="nomeProduto">Quantidade disponivel</label>
						<input th:field="*{quantidade}" th:errorclass="is-invalid"  class="form-control" placeholder="nome do produto"/>
						<small></small>
					</div>
					<div class="form-group">
						<label for="nomeProduto">Preço</label>
						<input th:field="*{preco}" th:errorclass="is-invalid"  class="form-control" placeholder="nome do produto"/>
						<small></small>
					</div>
					<div class="form-group">
						<label for="nomeProduto">Url da imagem</label>
						<input th:field="*{urlImagem}" th:errorclass="is-invalid"  class="form-control" placeholder="nome do produto"/>
						<small></small>
					</div>
					<button type="submit">Adicionar Produto</button>
				</form>
			</div>
		</div>
	</body>
</html>