<html>
<meta charset="UTF-8"/>
<head th:replace="~{base :: head}"></head>
	<body>
		<div th:replace="~{base :: logo}"></div>
		<div class="container col-6">
		
			<div th:replace="~{base :: titulo('Cadastro')}"></div>
			
			<div class="card mt-3">
				<form th:action="@{/cadastro/formularioViajante}" th:object="${requisicaoNovoCadastro}" class="card-body"  method="POST">
					<div class="alert alert-danger" role="alert" th:text="${erroSenha}" th:if="${not #strings.isEmpty(erroSenha)}"></div>
					<div class="form-group mt-3">
						<label for="login"?>Marca*</label>
						<input th:field="*{login}" th:errorclass="is-invalid"  class="form-control" placeholder="Digite seu email"/>
						<small>pessoal@email.com</small>
					</div>
					<div class="form-group mt-3">
						<label for="senha"?>Modelo*</label>
						<input th:field="*{senha}" th:errorclass="is-invalid"  class="form-control" type="password"   placeholder="Digite sua senha"/>
						<small>Digite sua senha(minimo 8 caracteres)</small>
					</div>
					<div class="form-group mt-3">
						<label for="senha"?>Numuero de Portas*</label>
						<input th:field="*{confirmarSenha}" th:errorclass="is-invalid"  class="form-control" type="password"   placeholder="Confirme sua senha"/>
						<small>Digite sua senha(minimo 8 caracteres)</small>
					</div>
					<div class="form-group mt-3">
						<label for="nome"?>Placa*</label>
						<input th:field="*{nome}" th:errorclass="is-invalid"  class="form-control"   placeholder="Digite seu nome"/>
						<small></small>
					</div>
					<div class="form-group mt-3">
						<label for="sobrenome"?>Url foto do carro*</label>
						<input th:field="*{sobrenome}" th:errorclass="is-invalid"  class="form-control"   placeholder="Digite sua sobrenome"/>
						<small></small>
					</div>
					<div class="form-group mt-3">
						<label for="dataNascimento"?>Data de nascimento*</label>
						<input th:field="*{dataNascimento}" th:errorclass="is-invalid"  class="form-control"   placeholder="Digite sua data de nascimento"/>
						<small>Ex:08/09/1995</small>
					</div>
					<div class="form-group mt-3">
						<label for="dataNascimento"?>Sexo*</label>
						<select th:field="*{sexo}" class="form-select form-select mb-3" aria-label=".form-select example">
						    <option th:value="'M'" th:text="Masculino"></option>
						    <option th:value="'F'" th:text="Feminino"></option>
						    <option th:value="'N'" th:text="Indeterminado"></option>
						</select>
					</div>
					<button class="btn btn-primary mt-3" type="submit">Finalizar</button>
					<button class="btn btn-primary mt-3" type="submit">Cadastrar como viajante?</button>
					
				</form>
			</div>
		</div>
	</body>
</html>