<html>
<meta charset="UTF-8"/>
<head th:replace="~{base :: head}"></head>
	<body>
		<div th:replace="~{base :: logo}"></div>
		<div class="container col-6">
		
			<div th:replace="~{base :: titulo('Viajante')}"></div>
			
			<div class="card mt-3">
				<form th:action="@{/cadastro/novoViajante}" th:object="${requisicaoViajante}" class="card-body"  method="POST">
					<div class="alert alert-danger" role="alert" th:text="${erroSenha}" th:if="${not #strings.isEmpty(erroSenha)}"></div>
					<div class="form-group mt-3">
						<label for="login"?>Marca*</label>
						<input th:field="*{marca}" th:errorclass="is-invalid"  class="form-control" placeholder="Digite seu email"/>
						<small></small>
					</div>
					<div class="form-group mt-3">
						<label for="senha"?>Modelo*</label>
						<input th:field="*{modelo}" th:errorclass="is-invalid"  class="form-control"   placeholder="Digite sua senha"/>
						<small></small>
					</div>
					<div class="form-group mt-3">
						<label for="senha"?>Numuero de Portas*</label>
						<input th:field="*{numeroPortas}" th:errorclass="is-invalid"  class="form-control"   placeholder="Confirme sua senha"/>
						<small></small>
					</div>
					<div class="form-group mt-3">
						<label for="nome"?>Placa*</label>
						<input th:field="*{placa}" th:errorclass="is-invalid"  class="form-control"   placeholder="Digite seu nome"/>
						<small></small>
					</div>
					<div class="form-group mt-3">
						<label for="sobrenome"?>Url foto do carro*</label>
						<input th:field="*{urlCarro}" th:errorclass="is-invalid"  class="form-control"   placeholder="Digite sua sobrenome"/>
						<small></small>
					</div>
					<button class="btn btn-primary mt-3" type="submit">Finalizar</button>
				</form>
			</div>
		</div>
	</body>
</html>